<h2> {{ list.groceryListID }} </h2>

<!-- Manual Refresh button -->
<!-- <button type="button" class="refresh-button btn btn-primary" (click)="refreshList()"> Refresh </button> -->

<div class="list">
    <div class="col" *ngFor="let grocery of list.groceries">
    <button type="button" class="remove-btn button" (click)="remove(grocery.groceryID)"> X </button>
    <div class="listed-item">
        <h6 class="price"> ${{ grocery.price }} </h6>
        <h5 class="name"> {{ grocery.groceryID }} </h5>
        <h6 class="description"> - {{ grocery.description }} </h6>
      </div>
</div>

<div class="m-4">
    <h4>Total: ${{ total.toFixed(2) }}</h4>
</div>
