
<!-- <div>
  <label for="new-grocery">Grocery Name: </label>
  <input id="new-grocery" #newGroceryName />
  <button
    type="button"
    class="create-button"
    (click)="createGrocery(newGroceryName.value); newGroceryName.value = ''"
  >
    Create Grocery
  </button>
</div> -->

<hr>
<h2>Grocery Inventory</h2>
<!-- <button type="button" class="refresh-button btn btn-primary"(click)="refreshInventory()">
  Refresh
</button> -->

<div class="col" *ngFor="let grocery of groceries">
  <button type="button" class="add-btn btn-primary" (click)="addToList(grocery.groceryID)"> Add </button>
  <div class="listed-item">
    <h6 class="price"> ${{ grocery.price }} </h6>
    <h5 class="name"> {{ grocery.groceryID }} </h5>
    <h6 class="description"> - {{ grocery.description }} </h6>
  </div>

</div>

